.profile {
  border: 3px solid #607d8b;
  padding: 1em;
  scroll-margin-bottom: 1ex;
}

.open-to-work {
  background: #1a406a;
  box-shadow: 3px 4px 20px grey;
  color: white;
  border: 3px solid #000000;
}

.profile p {
  margin: 0;
}

.profile p + p {
  margin-top: 1ex;
}
